<header>
  <nav>
    <a class="logo" href="{{ site.baseurl }}/">Home</a>
    <ul class="social">
      <li><a href="mailto:{{ site.email }}" class="email" title="Email">Email</a></li>
      <li><a href="{{ site.baseurl }}/{{ site.cv }}" class="cv" title="Resume">CV</a></li>
      <li><a href="https://linkedin.com/{{ site.linkedin }}" class="linkedin" title="LinkedIn">LinkedIn</a></li>
      <li><a href="https://vimeo.com/{{ site.vimeo }}" class="vimeo" title="Vimeo">Vimeo</a></li>
      <li><a href="https://coroflot.com/{{ site.coroflot }}" class="coroflot" title="Coroflot">Coroflot</a></li>
    </ul>
  </nav>
</header>