<header>
  <nav>
    <a class="logo" href="{{ site.baseurl }}/">Home</a>
    <ul class="social">
      <li><a href="mailto:{{ site.email }}" class="email">Email</a></li>
      <li><a href="{{ site.baseurl }}/{{ site.cv }}" class="cv">CV</a></li>
      <li><a href="https://linkedin.com/{{ site.linkedin }}" class="linkedin">LinkedIn</a></li>
      <li><a href="https://vimeo.com/{{ site.vimeo }}" class="vimeo">Vimeo</li>
      <li><a href="https://coroflot.com/{{ site.coroflot }}" class="coroflot">Coroflot</a></li>
    </ul>
  </nav>
</header>