body {
  background: $frame-color;
  padding: 2%;
  @media (max-width: 480px) {
    padding: 0;
  }
}
nav {
  position: fixed;
  top: 2vw;
  left: 2vw;
  z-index: 1000;
  @media (max-width: 480px) {
    top: 0;
    left: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: block;
    }
  }
  a {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-decoration: none !important;

    display: block;
    overflow: hidden;
    padding-left: 30px;
    height: 40px;
    width: 40px;
    line-height: 35px;
    border: 5px solid lighten($brand-color,40%);
    border-radius: 200px;
    &.logo {
      margin-bottom: 40px;
    }
    &:hover {
      overflow: visible;
    }
    &:before {
      content: '\2003';
    }
  }
  a.logo     { background: $link-color url(/assets/svg/home.svg) no-repeat 50% 50% / auto 80%; }
  a.email    { background: $link-color url(/assets/svg/email.svg) no-repeat 50% 50% / auto 80%; }
  a.cv       { background: $link-color url(/assets/svg/cv.svg) no-repeat 50% 50% / auto 80%; }
  a.linkedin { background: $link-color url(/assets/svg/linkedin.svg) no-repeat 50% 50% / auto 80%; }
  a.vimeo    { background: $link-color url(/assets/svg/vimeo.svg) no-repeat 50% 50% / auto 80%; }
  a.coroflot { background: $link-color url(/assets/svg/coroflot.svg) no-repeat 50% 50% / auto 80%; }
}
article {
  position: relative;
  border: $spacing-unit solid $frame-color;
  background: white;
  &:before,
  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-top: calc(20px + 2vw) solid $frame-color;
    z-index: 999;
  }
  &:after {
    top: auto;
    bottom: 0;
  }
}
.content{
  padding: 0 $spacing-unit*2 $spacing-unit*2 $spacing-unit*2;
  margin: 0 auto;
  max-width: $content-width;
  &.dipti-sonawane {
    padding: $spacing-unit*10 $spacing-unit*2 $spacing-unit*2 $spacing-unit*2;
  }
  @media (max-width: 480px) {
    padding: 0 $spacing-unit $spacing-unit*2 $spacing-unit*2;
    &.dipti-sonawane {
      padding: $spacing-unit*10 $spacing-unit $spacing-unit*2 $spacing-unit*2;
    }
  }
}
p + p {
  // text-indent: 1em;
  margin-top: $spacing-unit;
}
article p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  img {
    flex: 0 0 auto;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    height: 20em;

    object-fit: cover;
    object-position: 50% 50%;
  }
  img:first-child {
    margin-bottom: 20px;
    width: 100%;
    height: 30em;
  }
  @media (max-width: 767px) {
    img {
      width: 100%;
    }
  }
}
.profile-pic {
  position: absolute;
  top: $spacing-unit*2;
  width: $spacing-unit*10;
  @media (max-width: 480px) {
    width: $spacing-unit*9;
  }
}
.post-list {
  margin: $spacing-unit*2 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  .post-link {
    display: none;
    flex: 0 0 calc((100% - 20px) / 2);
    margin-bottom: $spacing-unit*3;
    list-style: none;
    figure {
      margin: 0;
      border: 3px solid lighten($brand-color,30%);
    }
    @media (max-width: 480px) {
      margin-bottom: $spacing-unit*2;
    }
  }

  @media (max-width: 767px) {
    flex-direction: row;
    .post-link {
      flex: 0 0 100%;
    }
  }

  h3 {
    padding: 0;
  }
}
.categories {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-size: $small-font-size;
    line-height: 1em;
    &:not(:last-child):after {
      content: ', '
    }
  }
}
.post .categories {
  margin-bottom: $spacing-unit*3;
  font-weight: 700;
  @media (max-width: 480px) {
    margin-bottom: $spacing-unit*2;
  }
}
.specialties {
  margin: $spacing-unit*4 0 0 0;
  border-bottom: 4px solid lighten($brand-color,40%);
  li {
    position: relative;
    list-style: none;
    display: inline;
    font-family: $title-font-family;
    font-size: $base-font-size;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: $spacing-unit;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -9px;
      border-bottom: 4px solid transparent;
      transition: all 0.3s ease-in-out;
    }

    &:hover:after,
    &.active:after {
      border-color: black;
    }
  }
  @media (max-width: 480px) {
    margin: $spacing-unit*2 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    li {
      flex: 0 0 auto;
      font-size: 12px;
      margin: 0 !important;
      &:after {
        bottom: -4px;
      }
    }
  }
}

.hero {
  // max-width: $content-width;
  margin: 0 auto;
  height: 40vh;
  display: none;
  @media (max-width: 480px) {
    margin: 0 auto;
    height: 40vh;
    display: block;
  }
}
.hero-content {
  @media (max-width: 480px) {
    display: none;
  }
}
.prev-next {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: $spacing-unit*4;
}
footer {
  background: $frame-color;
  padding: $spacing-unit;
  margin: 0 auto;
  // max-width: $content-width;
  // border-top: 1px solid $grey-color-light;
  p {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
  }
}