nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: $spacing-unit*2;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    li {
      list-style: none;
      flex: 0 0 35px;
    }
  }
}
article {
  position: relative;
  border: 20px solid $brand-color;
  @media (max-width: 767px) {
    border-width: 10px;
  }
  &:before,
  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-top: 20px solid $brand-color;
    @media (max-width: 767px) {
      border-top: 10px solid $brand-color;
    }
  }
  &:after {
    top: auto;
    bottom: 0;
  }
}
.content{
  padding: 0 $spacing-unit $spacing-unit*2 $spacing-unit;
  margin: 0 auto;
  max-width: $content-width;
  @media (max-width: 480px) {
    padding: 0 $spacing-unit/2 $spacing-unit*2 $spacing-unit/2;
  }
}
p + p {
  text-indent: 1em;
}

.post-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  .post-link {
    flex: 0 0 calc((100% - 20px) / 2);
    margin-bottom: $spacing-unit*3;
    list-style: none;
    figure {
      margin: 0;
      border: 5px solid lighten($brand-color,20%);
    }
  }

  @media (max-width: 767px) {
    flex-direction: row;
    .post-link {
      flex: 0 0 100%;
    }
  }

  h3 {
    padding: 0;
  }
}
.categories {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-size: $small-font-size;
    line-height: 1em;
    &:not(:last-child):after {
      content: ', '
    }
  }
}
.specialties {
  margin: 0 0 $spacing-unit*2 0;
  li {
    list-style: none;
    display: inline;
    font-family: $title-font-family;
    font-size: $base-font-size;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    margin-right: $spacing-unit;
  }
}

.hero {
  margin: 0;
}

footer {
  background: $brand-color;
  padding: $spacing-unit;
  margin: 0 auto;
  // max-width: $content-width;
  // border-top: 1px solid $grey-color-light;
  p {
    font-size: $small-font-size;
    color: $grey-color-light;
    text-align: center;
  }
}